# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
.~lock.*


# Build Files #

bin
target
build/
.gradle

# Package Files #

*.jar
*.war
*.ear
*.class

# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Temp Files #

*.sw?
.#*
*#
*~
*.sublime-*

# Readme #

README.html
*.iml
.idea

# Test files
